/* .product-carousel */
.product-carousel {
  width: 100%;
  height: 280px;
  display: block; }

.product-carousel__image {
  width: 100%; }

.product-carousel__navigation {
  display: block;
  font-size: 0;
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer; }

.product-carousel__prev,
.product-carousel__next {
  font-size: 27px;
  display: inline-block;
  color: #ce5b4f;
  opacity: .8; }

.product-carousel__prev {
  margin-right: 5px; }

/* end .product-carousel */
/* .product-popup-form */
.product-popup-form {
  text-align: center;
  background-color: #fffbf2; }

.product-popup-form__block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .product-popup-form__block::after {
    clear: both;
    content: "";
    display: table; }

.product-popup-form__block_first {
  padding: 19px 0 14px; }

.product-popup-form__block_middle {
  padding: 15px 0 18px; }

.product-popup-form__block_last {
  padding: 10px 0 12px; }

.product-popup-form__part {
  float: left;
  width: 50%;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.product-popup-form__part_left {
  padding: 0 10px 0 15px; }

.product-popup-form__part_right {
  padding: 0 15px 0 10px; }

.product-popup-form__newprice {
  font-family: "ProximaNovaBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 22px;
  vertical-align: middle; }

.product-popup-form__oldprice {
  text-decoration: line-through;
  opacity: .48;
  display: inline-block;
  margin-left: 13px;
  vertical-align: middle; }

.product-popup-form__icon_ok {
  font-size: 19px;
  color: #eb5c4e; }

.product-popup__select {
  margin-top: 13px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.product-popup-form__button {
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: "ProximaNovaSemibold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.product-popup-form__button_call {
  margin-top: 13px;
  padding: 6px 0;
  background-color: transparent; }

.product-popup-form__button_add {
  padding: 11px 0; }
  .product-popup-form__button_add:hover {
    color: #ce5b4f; }

.product-popup-form__button_click {
  padding: 13px 0; }

.product-popup-form__link {
  margin-top: 27px;
  display: inline-block;
  color: #037bd2;
  font-size: 12px;
  text-decoration: underline; }
  .product-popup-form__link:hover {
    text-decoration: none; }

/* end .product-popup-form */
/* .product-miniature */
.product-miniature {
  display: table-cell;
  width: 33.333333%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 7px; }

.product-miniature__value {
  display: block;
  font-family: "ProximaNovaBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  margin-top: 10px; }

.product-miniature__title {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  line-height: 1;
  color: #acacac; }

/* end .product-miniature */
/* .product-composition */
.product-composition {
  background-image: url("../img/composition.png");
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 235px;
  padding: 0 0 0 65px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.product-composition__line {
  margin: 3px 0; }

.product-composition__line_margin_top_bottom {
  margin: 47px 0; }

.product-composition__text {
  border-bottom: 1px dashed #333; }

/* end .product-composition */
/* .product-characteristics */
.product-characteristics {
  border-bottom: 1px dotted #e4e4e4;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2px; }

.product-characteristics__name,
.product-characteristics__value {
  display: inline-block;
  background-color: #fff;
  position: relative;
  top: 1px; }

.product-characteristics__value {
  float: right; }

/* .product-characteristics */
/* .product-reviews */
.product-reviews {
  margin: 0;
  padding: 0; }

.product-reviews__name {
  font-family: "ProximaNovaBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px; }

.product-reviews__review {
  margin: 0 0 20px; }

/* end .product-reviews */
/* .product-popup */
.product-popup {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  padding: 20px 0 16px; }

.product-popup__title {
  font-weight: normal;
  font-size: 21px;
  margin: 0;
  padding: 0 12px; }

.product-popup__miniatures {
  padding: 28px 8px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table; }

.product-popup__content {
  padding-bottom: 26px; }

.product-popup__content_not_margin {
  padding-bottom: 0; }

.product-popup__content-title {
  font-weight: normal;
  font-size: 18px; }

.product-popup__dropdown-text {
  position: relative;
  padding-bottom: 20px;
  height: 150px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.product-popup__dropdown {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff; }

.product-popup__dropdown-before {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top,#fff, rgba(255, 255, 255, 0));
  background-color: transparent; }

.product-popup__dropdown,
.product-popup__allreviews {
  display: block;
  text-align: center;
  padding: 5px 0;
  color: #eb5c4e; }

.product-popup__review-button {
  margin-top: 10px;
  padding: 5px 0;
  font-size: 13px;
  width: 100%; }
  .product-popup__review-button:hover {
    color: #ce5b4f; }

/* end .product-popup */
