// BEGIN BANNER 
.banner
	.container
		i.icon.icon_close.banner__close

		a(href="#").banner__link
			img(src="img/banners.jpg", alt="").banner__picture
			span.banner__text Суперакция: матрасы Promtex Orient со скидкой до 45%
// END BANNER 