.breadcrumbs(class=(breadcrumbs_border) ? 'breadcrumbs_border_bottom' : '')
	.container
		ul.breadcrumbs-menu
			li.breadcrumbs-menu__item
				a(href="#").breadcrumbs-menu__link Матрасы
				span.breadcrumbs-menu__slash / 
			li.breadcrumbs-menu__item
				span.breadcrumbs-menu__text Lonax