// BEGIN CART-ITEM 
.cart-item
	.cart-item__preview
		img(src="img/hit_matras-Promtex-Orient-Soft-Temple.jpg", alt="").cart-item__picture
	.cart-item__description
		a(href="#").cart-item__link Eco hard 1 TFK
		span.cart-item__price 5996 руб.
		span.cart-item__point

		span.cart-item__size 60x160
		.cart-item__controls
			span.cart-item__minus –
			input(type="number" value="1").cart-item__count
			span.cart-item__plus +
			span.cart-item__delete
				i.icon.icon_delete
// END CART-ITEM 