// NAVIGATION BREND
.category-navigation
	.container
		h3.category-navigation__title Бренды
		ul.category-menu
			li.category-menu__item
				a(href="#").category-menu__link Lonax
			li.category-menu__item
				a(href="#").category-menu__link.active Benartti
			li.category-menu__item
				a(href="#").category-menu__link Velson
			li.category-menu__item
				a(href="#").category-menu__link Askona