// BEGIN FOOTER 
footer
	.container
		.footer__navigation
			ul.footer-menu
				li.footer-menu__item
					a(href="#").footer-menu__link Главная
					span.footer-menu__slash / 
				li.footer-menu__item
					a(href="#").footer-menu__link Каталог
					span.footer-menu__slash / 
				li.footer-menu__item
					a(href="#").footer-menu__link Возврат и обмен
					span.footer-menu__slash / 
				li.footer-menu__item
					a(href="#").footer-menu__link Доставка и оплата
					span.footer-menu__slash / 
				li.footer-menu__item
					a(href="#").footer-menu__link Контакты
	.hr
	.container
		.footer__contact
			p.footer__timework Пн - Вс с 9:00 до 21:00
			a(href="tel:+74953571802").footer__phonelink +7 (495) 357-18-02
			a(href="tel:+78003338062").footer__phonelink +7 (800) 333-80-62
	.hr
	.container
		.footer__search
			form(action="/").search.search_bottom
						input(type="text").search__input.search__input_bottom
						button(type="submit").search__button.search__button_bottom Поиск
	.hr
	.container
		a(href="http://www.matras.ru/").fulllink.footer__fulllink
			i.icon.icon_full.fulllink__icon
			span.fulllink__text Полная версия сайта
// END FOOTER 