// BEGIN HEADER 
.header
	.container
		.navigation-bar.hader__navigation-bar
			.logo.header__logo
				a(href="/").logo__link
					img(src="img/logo.png", alt="").logo__image
			ul.header-button.header__button
				
				li.header-button__item
					a(href="tel:888800000").header-button__link
						i.icon.icon_call.header-button__icon
				li.header-button__item
					a(href="javascript:;").header-button__link.header-button__link_filter
						i.icon.icon_fillter.header-button__icon
						span.header-button__text Фильтр
				li.header-button__item
					a(href="javascript:;").header-button__link.header-button__link_menu
						i.icon.icon_menu.header-button__icon
						span.header-button__text Каталог
		.navigation.header__navigation
			ul.navigation__menu
				li
					a(href="#").navigation__link.navigation__link_active МАТРАСЫ
				li
					a(href="#").navigation__link ДЕТСКИЕ МАТРАСЫ
				li
					a(href="#").navigation__link МАТРАСЫ НА ДИВАН
				li
					a(href="#").navigation__link НАМАТРАСНИКИ
				li
					a(href="#").navigation__link ПОДУШКИ
				li
					a(href="#").navigation__link ОДЕЯЛА
				li
					a(href="#").navigation__link ОСНОВАНИЯ
				li
					a(href="#").navigation__link КРОВАТИ
				li
					a(href="#").navigation__link ШКАФЫ КОМОДЫ ТУМБЫ
			.navigation__search
				form(action="/").search.search_top
					input(type="text").search__input.search__input_top
					button(type="submit").search__button.search__button_top Поиск

// END HEADER 