// BEGIN PAGINATION 
.pagination
	.container
		ul.pagination-list
			li.pagination-list__item
				a(href="#").pagination-list__link &#8592; Назад
			li.pagination-list__item
				a(href="#").pagination-list__link.active 1
			li.pagination-list__item
				a(href="#").pagination-list__link 2
			li.pagination-list__item
				a(href="#").pagination-list__link 3
			li.pagination-list__item
				a(href="#").pagination-list__link 4
			li.pagination-list__item
				a(href="#").pagination-list__link 5
			li.pagination-list__item
				a(href="#").pagination-list__link Вперед &#8594;
// END PAGINATION 