.product-card.product-card_inline
	a(href="javascript:void();").product-card__link.product-card__link_inline
		span.product-card__sale -25%
		img(src="img/hit_matras-Promtex-Orient-Soft-Temple.jpg", alt="").product-card__preview.product-card__preview_inline
		.product-card__desc
			h5.product-card__title.product-card__title_inline Eco Hard 1 TFK
			p.product-card__text.product-card__text_inline Жесткость: средняя Высота: 10см. Нагрузка на одно спальное место: до 80кг. Невысокий матрас.
			button.button.button_border_red.product-card__button Купить за 5990 
				i.currency.currency_small