// BEGIN PRODUCT CARD 
.product-card.product-card_double
	a(href="javascript:;").product-card__link
		span.product-card__sale -25%
		img(src="img/hit_matras-Promtex-Orient-Soft-Temple.jpg", alt="").product-card__preview
		h5.product-card__title Eco Hard 1 TFK
		p.product-card__price от 7 996 руб. 
// END PRODUCT CARD 