// BEGIN PRODUCT-POPUP 
.product-popup.popup
	h2.product-popup__title Матрас Virtuoz Респект
	.product-carousel.product-popup__carousel
		.product-carousel__items
			.product-carousel__item
				img(src="img/slide1.jpg", alt="").product-carousel__image
			.product-carousel__item
				img(src="img/slide2.jpg", alt="").product-carousel__image
			.product-carousel__item
				img(src="img/slide3.jpg", alt="").product-carousel__image
			.product-carousel__item
				img(src="img/slide4.jpg", alt="").product-carousel__image
	.product-carousel__navigation
		i.icon.icon_prev.product-carousel__prev
		i.icon.icon_next.product-carousel__next
	.product-popup-form.product-popup__form
		.product-popup-form__block.product-popup-form__block_first
			.product-popup-form__part.product-popup-form__part_left
				span.product-popup-form__newprice 7 500
					i.currency.currency_big
				span.product-popup-form__oldprice 10 500
					i.currency.currency_small
			.product-popup-form__part.product-popup-form__part_right
				.product-popup-form__availability
					i.icon.icon_ok.product-popup-form__icon_ok
					| В наличие
		.hr.hr_brown
		.product-popup-form__block.product-popup-form__block_middle
			.product-popup-form__part.product-popup-form__part_left
				label(for="size").product-popup-form__label Выберете размер
				select(name="size")#size.product-popup__select.wide
					option(value="1") Любой
					option(value="1") Другой
					option(value="1") Всякий
			.product-popup-form__part.product-popup-form__part_right
				span.product-popup-form__question Нужен другой размер?
				button.button.button_border_red.product-popup-form__button.product-popup-form__button_call Позвонить
		.hr.hr_brown
		.product-popup-form__block.product-popup-form__block_last
			.product-popup-form__part.product-popup-form__part_left
				button.button.button_red.product-popup-form__button.product-popup-form__button_add Добавить в корзину
			.product-popup-form__part.product-popup-form__part_right
				button.button.button_green.product-popup-form__button.product-popup-form__button_click Купить в 1 клик
			a(href="#").product-popup-form__link Информация о доставке
	.product-popup__miniatures
		.product-miniature.product-popup__miniature
			img(src="img/rigidity.png", alt="").product-miniature__image
			span.product-miniature__value cредняя
			span.product-miniature__title Жесткость
		.product-miniature.product-popup__miniature
			img(src="img/height.png", alt="").product-miniature__image
			span.product-miniature__value 19 см
			span.product-miniature__title Высота матраса
		.product-miniature.product-popup__miniature
			img(src="img/weight.png", alt="").product-miniature__image
			span.product-miniature__value 90 кг
			span.product-miniature__title Макс. мест. на одно спальное место
	.hr.hr_gray
	.content.product-popup__content
		h3.product-popup__content-title Состав
		.product-composition.product-popup__composition
			p.product-composition__line &#8211; 
				span.product-composition__text Чехол хлопковых жаккард
			p.product-composition__line &#8211; 
				span.product-composition__text Искусственный латекс (2см)
			p.product-composition__line &#8211; 
				span.product-composition__text Термовойлок
			p.product-composition__line.product-composition__line_margin_top_bottom &#8211; 
				span.product-composition__text Независимые пружины TFK
			p.product-composition__line &#8211; 
				span.product-composition__text Термовойлок
			p.product-composition__line &#8211; 
				span.product-composition__text Искусственный латекс (2см)
			p.product-composition__line &#8211; 
				span.product-composition__text Независимые пружины TFK
	.hr.hr_gray
	.content.product-popup__content
		h3.product-popup__content-title Описание
		.product-popup__dropdown-text
			p.content__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Возвращайся раз взгляд родного, своего заголовок коварных океана подпоясал лучше инициал деревни алфавит это составитель безорфографичный выйти образ мир все, агенство рыбного необходимыми рукописи переписывается собрал себя. Знаках алфавит моей журчит о, на берегу жизни жаренные безопасную, толку свою которое, напоивший! Взгляд, продолжил, себя инициал грустный диких ему, даль рекламных свое великий о города большой путь lorem языком оксмокс гор там журчит, до мир выйти вскоре предложения последний. Пунктуация себя единственное прямо заглавных осталось, необходимыми, запятых всеми рот своих первую взобравшись коварный ведущими океана. Не своих которое рот правилами путь! Однажды.
				span.product-popup__dropdown-before
			a(href="javascript:;").product-popup__dropdown Читать всё
	.hr.hr_gray
	.content.product-popup__content
		h3.product-popup__content-title Характеристики
		.product-characteristics
			span.product-characteristics__name Тип матраса:
			span.product-characteristics__value независимые пружины tf
		.product-characteristics
			span.product-characteristics__name Жесткость:
			span.product-characteristics__value средняя
		.product-characteristics
			span.product-characteristics__name Жесткость 2-ой стороны:
			span.product-characteristics__value мягкая
		.product-characteristics
			span.product-characteristics__name Макс. вес на одно спальное место
			span.product-characteristics__value 105кг
		.product-characteristics
			span.product-characteristics__name Высота матрасы 
			span.product-characteristics__value 19см
		.product-characteristics
			span.product-characteristics__name Чехол 
			span.product-characteristics__value трикотаж с объёмной стежкой
		.product-characteristics
			span.product-characteristics__name Съёмный чехол
			span.product-characteristics__value Да
		.product-characteristics
			span.product-characteristics__name Гарантия
			span.product-characteristics__value 3 года
	.hr.hr_gray
	.content.product-popup__content.product-popup__content_not_margin
		h3.product-popup__content-title Отзывы
		dl.product-reviews
			dt.product-reviews__name Виктор
			dd.product-reviews__review 1 Месяц назад купил такой матрац и очень доволен. А больше порадовала его цена, т.к. брал со скидкой. Очень удобный и комфортный матрац. Всем советую!
			dt.product-reviews__name Юрий Антонов
			dd.product-reviews__review Матрас стоит своих денег, сделан качественно.
			dt.product-reviews__name Сергей
			dd.product-reviews__review Не знаете, такой наматрасник можно скручивать в рулон?
		a(href="javascript:;").product-popup__allreviews Читать все
		button.button.button_red.product-popup__review-button Оставить свой отзыв
// END PRODUCT-POPUP 