.section-call-top
	.container
		p.section-call-top__title
			| Подберем Вам матрас, прямо сейчас <br>
			strong с учетом всех ваших пожеланий
		form.call.section-call-top__call
			i.icon.icon_phone.call__icon
			input(type="text" placeholder="Введите телефон").call__text.data-inputmask
			button(type="submit").call__button Жду звонка
		p.section-call-top__subtitle Перезвоним за одну минуту