// BEGIN CALL BOTTOM 
.section-call-bottom
	.container
		p.section-call-bottom__title
			| Подберем Вам матрас, прямо сейчас <br>
			strong с учетом всех ваших пожеланий
		form.call.section-call-bottom__call
			i.icon.icon_phone.call__icon
			input(type="text" placeholder="Введите телефон").call__text.data-inputmask
			button(type="submit").button.call__button.section-call-bottom__button Жду звонка
// END CALL BOTTOM 