// BEGIN SOCIAL 
.section-social
	.container
		ul.social
			li.social__item
				a(href="#").social__link
					i.social-icon.social-icon_tweeter
			li.social__item
				a(href="#").social__link
					i.social-icon.social-icon_vkontakte
			li.social__item
				a(href="#").social__link
					i.social-icon.social-icon_facebook
// END SOCIAL 
