extends ./template/template.jade

block title
	title Каталог 3

block style
	link(rel="stylesheet" href="_catalog3.min.css")

block content
	include ./template/header.jade
	include ./template/section-call-top.jade
	- var breadcrumbs_border = true
	include ./template/breadcrumbs.jade


	.container
		.product-cards-slider
			h2.product-cards-slider__title
				a(href="#").product-cards-slider__title-link Серия скрученных матрасов
			//-p.product-cards-slider__text Серия Ассорти — это пружинные матрасы, имеющие разную жесткость сверху и снизу. В качестве материалов в данной серии применяются кокос и натуральный латекс.
			.product-cards-slider__overview
				.product-cards-slider__items
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
			.product-cards-slider__scrollbar
				.product-cards-slider__thumb
					i.icon.icon_slide
				.product-cards-slider__line
	.hr.hr_gray
	.container
		.product-cards-slider
			h2.product-cards-slider__title
				a(href="#").product-cards-slider__title-link Серия скрученных матрасов
			p.product-cards-slider__text Серия Ассорти — это пружинные матрасы, имеющие разную жесткость сверху и снизу. В качестве материалов в данной серии применяются кокос и натуральный латекс.
			.product-cards-slider__overview
				.product-cards-slider__items
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
					include ./template/product-card_scroll.jade
			.product-cards-slider__scrollbar
				.product-cards-slider__thumb
					i.icon.icon_slide
				.product-cards-slider__line

	include ./template/back-to-top.jade
	include ./template/section-call-bottom.jade
	include ./template/footer.jade
	include ./template/social.jade
	include ./template/cart.jade


block popup
	include ./template/cart-popup.jade

	include ./template/order-popup.jade

	include ./template/product-popup.jade

	include ./template/filter-popup.jade