extends ./template/template.jade

block title
	title Каталог 1

block style
	link(rel="stylesheet" href="css/main.css")
	link(rel="stylesheet" href="css/category-navigation.css")
	link(rel="stylesheet" href="css/back-to-top.css")
	link(rel="stylesheet" href="css/product-popup.css")
	//link(rel="stylesheet" href="css/catalog1.css")

block content
	include ./template/header.jade
	include ./template/section-call-top.jade
	include ./template/category-navigation.jade
	.container
		.product-cards
			include ./template/product-card.jade
			include ./template/product-card.jade
			include ./template/product-card.jade
			include ./template/product-card.jade
			include ./template/product-card.jade
			include ./template/product-card.jade
			include ./template/product-card.jade
			include ./template/product-card.jade
	.hr.hr_gray
	.container
		.content
			p.content__text Для детей от 0 до 3 лет лучше приобретать безпружинные модели максимально высокой жесткости. Высокая жесткость в первые годы жизни необходима для правильного формирования осани. Позвоночник ребенка в этом возврасте еще не имеет изгиба, характерного для взрослого человека. у новорожденных он прямой, именно поэтому поверхность, на которой спит ребенок, должна быть непременно жесткой. Для этого возвраста лучше всего выбирать детские матрасы из кокоса.
	include ./template/back-to-top.jade
	include ./template/section-call-bottom.jade
	include ./template/footer.jade
	include ./template/social.jade
	include ./template/cart.jade

block popup
	include ./template/cart-popup.jade

	include ./template/order-popup.jade

	include ./template/product-popup.jade

	include ./template/filter-popup.jade

