extends ./template/template.jade

block title
	title Доставка и оплата

block style
	link(rel="stylesheet" href="_delivery.min.css")

block content
	include ./template/header.jade
	include ./template/section-call-top.jade
	.container
		.content
			h2.content__title Доставка и оплата
	.container
		.content
			p.content__text Доставка по Москве и Московской области практически всей продукции возможна уже на следующий день.
			p.content__text Оплата розничных заказов производится при получении товара. Возможна безналичная оплата. Служба доставки вместе с заказом предоставляет заказчику чек и гарантийный талон на изделие.
			p.content__text Более подробную информация о доставке конкретных товаров смотрите ниже.

	.accordion
		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend1.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left DreamLine
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend2.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Lonax
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж


		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend3.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Velson
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж


		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend4.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Virtuoz
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend5.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Comfort Line
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend6.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Askona
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend7.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Perrion
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend8.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Promtex Orient
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend9.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Beautyson
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend10.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Benartti
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				h4.content__4title.accordion__content-title Доставка продукции Dreamline
				p.content__text
					strong Любой матрас, наматрасник или подушка может быть доставлен уже на следующей день,
					|  при условии оформления заказа в будний день до 14:30.
				ul.content__list
					li.content__item — Любые другие товары вместе с взрослыми матрасами доставляются бесплатно.
					li.content__item — Любые заказы (кроме мебели) стоимостью более 7.000 рублей доставляются бесплатно.
					li.content__item — Доставка отдельно мебели без матраса — 500 руб.
					li.content__item — Доставка детских матрасов, матрасов на диван, наматрасников и пр. при заказе до 7.000 рублей стоит 400 руб.
					li.content__item — За пределами зоны МКАД+5 км: доставка оплачивается из расчета 1 км = 30 рублей.
				p.content__text
					strong Доставка осуществляется каждый день кроме воскресенья.<br>
					| День доставки согласуется заранее. Стандартная доставка осуществляется в течение дня. За час до доставки звонит водитель и сообщает, что едет на ваш адрес.<br>
					strong Возможен самовывоз.
				p.content__text Возможна доставка к конкретному времени:<br> В дневном интервале с 10:00 до 18.00 – 500 рублей.<br> В вечернее время после 18.00 – 1000 рублей.

				p.content__text
					strong Подъем на этаж<br>
					| Подъем на лифте – осуществляется бесплатно. Ручной подъем по лестнице за единицу товара – 50 рублей за 1 этаж (первый этаж не считается).

				p.content__text
					strong Утилизация старого матраса<br>
					| Стоимость утилизации 400 руб.<br> Если старый матрас невозможно спустить на лифте, то спуск оплачивается как 50 руб. за 1 этаж




	.container
		.content
			h2.content__title География доставок
			p.content__text.content__text_margin_bottom Наша служба доставки работает по Москве и Московской области, Санкт-Петербургу, Ленинградской области, Краснодарскому краю, Ростовской области и Екатеринбургу и окрестным городам Свердловской области. Доставка в другие регионы РФ осуществляется чере транспортные компании при сумме заказа от 5 000 рублей.



	include ./template/section-call-bottom.jade
	include ./template/footer.jade
	include ./template/social.jade
	include ./template/cart.jade