extends ./template/template.jade

block title
	title Гарантия

block style
	link(rel="stylesheet" href="css/main.css")
	link(rel="stylesheet" href="css/accordion.css")
	link(rel="stylesheet" href="css/guarantee.css")

block content
	include ./template/header.jade
	include ./template/section-call-top.jade
	.container
		.content
			h2.content__title Гарантия
	.container
		.content
			p.content__text На все товары, представленные в нашем магазине, действует фирменная гарантия. При возникновении гарантийного случая просто звоните нам. Сроки гарантии указаны ниже.

	.accordion
		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend1.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left DreamLine
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев




		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend2.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Lonax
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев


		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend3.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Velson
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев


		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend4.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Virtuoz
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend5.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Comfort Line
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend6.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Askona
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend7.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Perrion
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend8.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Promtex Orient
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend9.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Beautyson
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев

		.container.accordion__heading.accordion__heading_height
			.accordion__miniature
				img(src="img/brend/brend10.png", alt="").accordion__miniature-picture
			h3.accordion__title.accordion__title_padding_left Benartti
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				.content-table
					.content-table__row
						.content-table__cell
							p.content-table__key Все матрасы, кроме серий Dreamroll и Classic.
						.content-table__cell
							p.content-table__value 10 лет
					.content-table__row
						.content-table__cell
							p.content-table__key Серии Classic и Dreamroll
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Наматрасники (кроме защитных)
						.content-table__cell
							p.content-table__value 2 года
					.content-table__row
						.content-table__cell
							p.content-table__key Защитные наматрасники
						.content-table__cell
							p.content-table__value 18 месяцев
					.content-table__row
						.content-table__cell
							p.content-table__key Ортопедические основания
						.content-table__cell
							p.content-table__value 18 месяцев


	.container
		.content
			h2.content__title География доставок
			p.content__text.content__text_margin_bottom Наша служба доставки работает по Москве и Московской области, Санкт-Петербургу, Ленинградской области, Краснодарскому краю, Ростовской области и Екатеринбургу и окрестным городам Свердловской области. Доставка в другие регионы РФ осуществляется чере транспортные компании при сумме заказа от 5 000 рублей.



	include ./template/section-call-bottom.jade
	include ./template/footer.jade
	include ./template/social.jade
	include ./template/cart.jade

block popup
	include ./template/cart-popup.jade

	include ./template/order-popup.jade

	include ./template/filter-popup.jade