extends ./template/template.jade

block title
	title Главная страница

block style
	link(rel="stylesheet" href="css/main.css")
	link(rel="stylesheet" href="css/banner.css")
	link(rel="stylesheet" href="css/product-popup.css")
	link(rel="stylesheet" href="css/index.css")



block content
	include ./template/header.jade
	include ./template/section-call-top.jade

	// BEGIN MAIN-CATALOG 
	.section-main-catalog
		.container
			.catalog-miniature-row
				.catalog-miniature-item.catalog-miniature-item_first.catalog-miniature-row__item
					a(href="#").catalog-miniature-item__link
						img(src="img/ico-matras.png", alt="").catalog-miniature-item__picture
						p
							span.catalog-miniature-item__text Матрасы
				.catalog-miniature-item.catalog-miniature-item_last.catalog-miniature-row__item
					a(href="#").catalog-miniature-item__link
						img(src="img/ico-detskie-matras.png", alt="").catalog-miniature-item__picture
						p
							span.catalog-miniature-item__text Детские матрасы
			.catalog-miniature-row
				.catalog-miniature-item.catalog-miniature-item_first.catalog-miniature-row__item
					a(href="#").catalog-miniature-item__link
						img(src="img/ico-namatrasnik.png", alt="").catalog-miniature-item__picture
						p
							span.catalog-miniature-item__text Наматрасники
				.catalog-miniature-item.catalog-miniature-item_last.catalog-miniature-row__item
					a(href="#").catalog-miniature-item__link
						img(src="img/ico-osnovaniya.png", alt="").catalog-miniature-item__picture
						p
							span.catalog-miniature-item__text Основания
			.catalog-miniature-row.catalog-miniature-row_last
				.catalog-miniature-item.catalog-miniature-item_first.catalog-miniature-row__item
					a(href="#").catalog-miniature-item__link
						img(src="img/ico-podushki.png", alt="").catalog-miniature-item__picture
						p
							span.catalog-miniature-item__text Подушки
				.catalog-miniature-item.catalog-miniature-item_last.catalog-miniature-row__item
					a(href="#").catalog-miniature-item__link
						img(src="img/ico-matras-divan.png", alt="").catalog-miniature-item__picture
						p
							span.catalog-miniature-item__text Матрасы на диван
		.section-main-catalog-andto.section-main-catalog__andto
			.container
				p.section-main-catalog-andto__text А ещё: 
					a(href="#").section-main-catalog-andto__link одеяла;
					| 
					a(href="#").section-main-catalog-andto__link шкафы, комоды, тумбы
	// END MAIN-CATALOG 

	// BEGIN FILTER 
	.filter
			.container
				h2.filter__titile Фильтр по параметрам
				span.filter__subtitle так же доступен в шапке сайта
			form(action="/").filter__form
				.container
					.filter__input-group
						label(for="type").filter__label Тип
						select(name="type")#type.filter__control.filter__control_select.wide
							option(value="1") Любой
							option(value="2") Не любой
							option(value="3") Конкретный
							option(value="4") Всякий
					.filter__input-group
						label(for="brend").filter__label Бренд
						select(name="brend")#brend.filter__control.filter__control_select.wide
							option(value="1") Все
							option(value="2") Не любой
							option(value="3") Конкретный
							option(value="4") Всякий
					.filter__input-group
						label.filter__label Цена в рублях
						.filter__control_double
							input(type="number" name="pricefrom" placeholder="от").filter__control.filter__control_input.filter__control_first
							span.filter__glue_input
							input(type="number" name="priceto" placeholder="до").filter__control.filter__control_input.filter__control_last.control__error
					.filter__input-group
						label.filter__label Размер в см
						.filter__control_double
							input(type="number" name="width" placeholder="Ширина").filter__control.filter__control_input.filter__control_first
							span.filter__glue_input
							input(type="number" name="height" placeholder="Высота").filter__control.filter__control_input.filter__control_last
					.filter__input-group
						label(for="first-side").filter__label Жесткость 1-ой стороны
						select(name="first-side")#first-side.filter__control.filter__control_select.wide
							option(value="1") Любой
							option(value="2") Не любой
							option(value="3") Конкретный
							option(value="4") Всякий
					.filter__input-group
						label(for="last-side").filter__label Жесткость 2-ой стороны
						select(name="last-side")#last-side.filter__control.filter__control_select.wide
							option(value="1") Все
							option(value="2") Не любой
							option(value="3") Конкретный
							option(value="4") Всякий
			.filter__footer
				.container
					button(type="submit").button.button_green.filter__button Подобрать
					p.filter__text
						a(href="#").filter__link Наш менеджер может помочь вам
						|  с любым дополнительным параметром
	// END FILTER 

	// BEGIN HITS 
	.section-hits
		.container
			h2.section-hits__title Хиты продаж
			.product-cards.section-hits__product-cards
				include ./template/product-card.jade
				include ./template/product-card.jade
				include ./template/product-card.jade
				include ./template/product-card.jade
				include ./template/product-card.jade
				include ./template/product-card.jade
			a(href="#").section-hits__link Смотреть все
	// END HITS 

	// BEGIN POPULAR SIZE 
	.section-popular-size
		.container
			h2.section-popular-size__title Популярные размеры матрасов
			ul.popular-size.section-popular-size__popular-size
				li.popular-size__item.popular-size__item_first
					a(href="#").popular-size__link 160x145
				li.popular-size__item
					a(href="#").popular-size__link 160x145
				li.popular-size__item
					a(href="#").popular-size__link 160x145
				li.popular-size__item.popular-size__item_last
					a(href="#").popular-size__link 160x145
			a(href="#").section-popular-size__link Открыть все
		// END POPULAR SIZE 

	// BEGIN MAIN ABOUT 
	.section-main-about
		.container
			h2.section-main-about__title О нас
			.about-items
				.about-item
					span.about-item__number 1
					p.about-item__text Не стандартные размеры без предоплаты
				.about-item
					span.about-item__number 2
					p.about-item__text Гарантия лучшей цены
				.about-item
					span.about-item__number 3
					p.about-item__text Доставка по всей России
				.about-item
					span.about-item__number 4
					p.about-item__text Скидки до 50%
				.about-item
					span.about-item__number 5
					p.about-item__text Работаем без выходных
				.about-item
					span.about-item__number 6
					p.about-item__text Фирменная гарантия на всю продукцию
			a(href="#").section-main-about__link Узнать больше
	// END MAIN ABOUT 

	include ./template/section-call-bottom.jade

	include ./template/footer.jade

	include ./template/social.jade

	include ./template/banner.jade

	include ./template/cart.jade


block popup
	include ./template/cart-popup.jade

	include ./template/order-popup.jade

	include ./template/product-popup.jade

	include ./template/filter-popup.jade














