extends ./template/template.jade

block title
	title Каталог 2

block style
	link(rel="stylesheet" href="_search-result.min.css")

block content
	include ./template/header.jade
	include ./template/section-call-top.jade

	.container
		.content
			h2.content__title Результат поиска

	.search-result
		.container
			form(action="/").search-result__form
				input(type="text").search-result__input
				button(type="submit").search-result__button
					i.icon.icon_search
			p.search-result__text По вашему запросу найдено 9999 вариантов.

	.sorting.sorting_background_fff
		.container
			form(action="/").sorting__form
				.sorting__input-group.sorting__input-group_sorting
					label(for="sorting").sorting__label Сортировать:
					select(name="sorting")#sorting.sorting__select.sorting__select_sorting.wide
						option(value="1") Все
						option(value="2") Новые
						option(value="3") Любые
						option(value="4") Всякие
				.sorting__input-group.sorting__input-group_count
					label(for="count").sorting__label Вывести по:
					select(name="count")#count.sorting__select.sorting__select_count.wide
						- for (var x = 10; x <= 100; x=x+10)
							option= x


	.container
		.product-cards-inline
			include ./template/product-card_inline.jade
			include ./template/product-card_inline.jade
			include ./template/product-card_inline.jade
			include ./template/product-card_inline.jade

	include ./template/pagination.jade
	include ./template/section-call-bottom.jade
	include ./template/footer.jade
	include ./template/social.jade
	include ./template/cart.jade