extends ./template/template.jade

block title
	title Гарантия

block style
	link(rel="stylesheet" href="_guarantee.min.css")

block content
	form(action="/").sorting__form
		select(name="select").sorting__select.wide
			option(value="1")  Далеко-далеко.
			option(value="1")  Далеко-далеко.
			option(value="1")  Далеко-далеко.
			option(value="1")  Далеко-далеко.
			option(value="1")  Далеко-далеко.
