extends ./template/template.jade

block title
	title Все размеры матрасов

block style
	link(rel="stylesheet" href="_size.min.css")

block content
	include ./template/header.jade
	include ./template/section-call-top.jade
	.container
		.content
			h2.content__title Все размеры матрасов
			

	.accordion
		.container.accordion__heading
			h3.accordion__title 50 см
			.accordion__toggle
				span.accordion__text Свернуть
				i.icon.icon_up.accordion__icon
		.container
			.content
				p.content__text
					a(href="#").content__link 50x100
					|  
					a(href="#").content__link 50x110
		.container.accordion__heading
			h3.accordion__title 60 см
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				p.content__text
					a(href="#").content__link 50x100
					|  
					a(href="#").content__link 50x110
					|  
					a(href="#").content__link 50x140
		.container.accordion__heading
			h3.accordion__title 70 см
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				p.content__text
					a(href="#").content__link 50x100
					|  
					a(href="#").content__link 50x110
					|  
					a(href="#").content__link 50x140
		.container.accordion__heading
			h3.accordion__title 70 см
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				p.content__text
					a(href="#").content__link 50x100
					|  
					a(href="#").content__link 50x110
					|  
					a(href="#").content__link 50x140
		.container.accordion__heading
			h3.accordion__title 70 см
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				p.content__text
					a(href="#").content__link 50x100
					|  
					a(href="#").content__link 50x110
					|  
					a(href="#").content__link 50x140
		.container.accordion__heading
			h3.accordion__title 70 см
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				p.content__text
					a(href="#").content__link 50x100
					|  
					a(href="#").content__link 50x110
					|  
					a(href="#").content__link 50x140
		.container.accordion__heading
			h3.accordion__title 70 см
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				p.content__text
					a(href="#").content__link 50x100
					|  
					a(href="#").content__link 50x110
					|  
					a(href="#").content__link 50x140
		.container.accordion__heading
			h3.accordion__title 70 см
			.accordion__toggle
				span.accordion__text Раскрыть
				i.icon.icon_down.accordion__icon
		.container
			.content
				p.content__text
					a(href="#").content__link 50x100
					|  
					a(href="#").content__link 50x110
					|  
					a(href="#").content__link 50x140




	include ./template/section-call-bottom.jade
	include ./template/footer.jade
	include ./template/social.jade
	include ./template/cart.jade

block popup
	include ./template/cart-popup.jade

	include ./template/order-popup.jade

	include ./template/filter-popup.jade